/* MENÚ PRINCIPAL */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #020617;
    display: flex;
    justify-content: center;
}

.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 12px 20px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    background: #1e293b;
    color: #22c55e;
}

/* SUBMENÚ */
.submenu {
    display: none;
    position: absolute;
    background: #020617;
    list-style: none;
    padding: 0;
    min-width: 180px;
}

.submenu li a {
    padding: 10px;
}

/* Mostrar al pasar el mouse */
.menu li:hover .submenu {
    display: block;
}
